{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}Reset Password{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <form method="post" name="password_reset">
        {% csrf_token %}
        <p class="my-5">To retrieve your password, enter your email below</p>
        <br>
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {{ form | as_bootstrap }}
        <button type="submit">Reset password</button>
        </p>
    </form>
{% endblock %}