/*............................General*/
/*html,*/
/*body {*/
/*    height: 95%;*/
/*    width: 95%;*/
/*}*/

/*............................Main title */

.main-title {
    background: linear-gradient(to right, #B50457, #FF0279, #ED4E99, #FF9BCA, #FFDCEC);
    margin: 10px;
    font-weight: 300;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*............................Landing page */
.btn-create-ticket {
    background-color: #B50457;
    font-weight: 800;
    margin: auto;
    color: white;
}

.btn-buy-1-vote {
    background-color: #FF9BCA;
    font-weight: 800;
    margin: auto;
    color: white;
}

.btn-buy-5-votes {
    background-color: #FF9BCA;
    font-weight: 800;
    margin: auto;
    color: white;
}

.btn-buy-10-votes {
    background-color: #FF0279;
    font-weight: 800;
    margin: auto;
    color: white;
}

.btn-buy-custom-votes {
    background-color: #B50457;
    font-weight: 800;
    margin: auto;
    color: white;
}

/*.text-buy-votes {*/

/*}*/

.text-create-ticket {
    background: linear-gradient(to right, #B50457, #FF0279, #ED4E99, #FF9BCA, #FF9BCA);
    font-weight: 300;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*............................Navbar */
.main-title-nav {
    background: linear-gradient(to left, #B50457, #FF0279, #ED4E99, #FF9BCA, #FF9BCA);
    margin: 10px;
    font-weight: 300;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar-dark {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

/*............................Table */
.table-feature {
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
}

.table-bug {
    background-color: #FF9BCA;
    color: white;
    font-weight: 800;
}

/*.............Smaller screen settings */


@media only screen and (max-width: 800px) {
    /*body {*/
    /*    height: 100%;*/
    /*    width: 100%;*/
    /*}*/
}
