{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}{{ bug.title }}{% endblock %}

{# Bug show content #}

<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            {% block page_heading %}<h3 class="main-title">{{ bug.title }}</h3>{% endblock %}
        </div>
    </div>
</div>


{% block content %}
    <div class="container">
        <div class="row">
            {% if user_is_staff %}
                <div class="col-sm-12" align="center">
                    <form name="bug_edit" method="post">
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                        <button class="btn btn-create-ticket btn-sm mb-5" type="submit">Save Changes</button>
                    </form>
                </div>
            {% else %}

                <div class="col-12 my-3" align="center">
                    <div class="card card-ticket-show">
                        <p><h6>Description:</h6><p>{{ bug.description }}</p></p>
                        <p><h6>Status:</h6><h4>{{ bug.status }}</h4></p>
                    </div>
                </div>


            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-12" align="center">
                {% if user_has_voted %}
                    <form name="bug_vote_down" method="post" action="{% url 'vote_bug' bug.id 'down' %}">
                        {% csrf_token %}
                        <button type="submit" id="downvote"><i class="fas fa-thumbs-down text-pink"></i></button>
                    </form>

                {% else %}
                    <form name="bug_vote_up" method="post" action="{% url 'vote_bug' bug.id 'up' %}">
                        {% csrf_token %}
                        <button type="submit" id="upvote"><i class="fas fa-thumbs-up text-pink"></i><h6
                                class="text-pink"></h6></button>
                    </form>

                {% endif %}
                <h6 class="text-pink my-3">{{ bug.bugvote_set.count }}
                    Votes</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 my-3" align="right">
                <h5> Comments</h5>
            </div>
            {% for comment in bug.bugcomment_set.all %}
                {% if comment.bug_id == bug.id %}
                    <div class="col-sm-12 mb-5" align="right">
                        <div class="card">
                            <div class="card-body">
                                <p class="lead"><strong>{{ comment.commenter }}</strong></p>
                                <p>{{ comment.content }}</p>
                                <p class="small">{{ comment.created_date }}</p>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12 mt-3" align="center">
                <form name="comment_bug" action="{% url 'comment_bug' bug.id %}" method="POST">
                    {{ comment_form.non_field_errors }}
                    {{ comment_form | as_bootstrap }}
                    {% csrf_token %}
                    <button class="btn btn-create-ticket btn-sm" type="submit">Add Comment
                    </button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
