{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}{{ bug.title }}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            {% block page_heading %}<h3 class="main-title">{{ bug.title }}</h3>{% endblock %}
        </div>
    </div>
</div>


{% block content %}
    <div class="row">
        <div class="col-8 offset-2">
            <form name="bug_edit" method="post">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button class="btn btn-outline-primary btn-sm" type="submit">Save Changes</button>
            </form>
        </div>
        <div class="col-8 offset-2" align="center">
            {% if user_has_voted %}

                <form name="bug_vote_down" method="post" action="{% url 'vote_bug' bug.id 'down' %}">
                    {% csrf_token %}

                    <button type="submit" id="downvote">Downvote</button>
                </form>
            {% else %}
                <form name="bug_vote_up" method="post" action="{% url 'vote_bug' bug.id 'up' %}">
                    {% csrf_token %}

                    <button type="submit" id="upvote"><h5>Upvote</h5></button>
                </form>
            {% endif %}

            {{ bug.bugvote_set.count }}
        </div>
    </div>


{% endblock %}
