{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}{{ bug.title }}{% endblock %}
{% block page_heading %}{{ bug.title }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-8 offset-2">
            <form name="bug_edit" method="post">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button class="btn btn-outline-primary btn-sm" type="submit">Save Changes</button>
            </form>
        </div>
        <div class="col-8 offset-2">
                <form name="bug_vote_down" method="post" action="{% url 'vote_bug' bug.id 'down' %}">
                    {% csrf_token %}

                    <button type="submit">Downvote</button>
                </form>
                <form name="bug_vote_up" method="post" action="{% url 'vote_bug' bug.id 'up' %}">
                    {% csrf_token %}

                    <button type="submit">Upvote</button>
                </form>
        </div>
    </div>
{% endblock %}
