{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}{{ feature.title }}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            {% block page_heading %}<h3 class="main-title mb-3">{{ feature.title }}</h3>{% endblock %}
        </div>
    </div>
</div>


{% block content %}
    <div class="container">
        <div class="row">
            {% if user_is_staff %}
                <div class="col-sm-12" align="center">
                    <form name="feature_edit" method="post">
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                        <button class="btn btn-create-ticket btn-sm" type="submit">Save Changes
                        </button>
                    </form>
                </div>
            {% else %}
                <div class="col-12 my-3" align="center">
                    <div class="card card-ticket-show">
                        <p><h6>Description:</h6><h4>{{ feature.description }}</h4>
                        <p><h6>Status:</h6><h4>{{ feature.status }}</h4>
                    </div>
                </div>
            {% endif %}

        </div>
        <div class="row">
            {% if user_has_votes %}
                <div class="col-sm-12" align="center">
                    <form name="feature_vote" method="post" action="{% url 'vote_feature' feature.id %}">
                        {% csrf_token %}
                        <button type="submit" id="upvote"><i class="fas fa-thumbs-up text-pink"></i></button>
                    </form>
                </div>
            {% endif %}

            <div class="col-sm-12" align="center">
                <h6 class="text-lightpink my-3">{{ feature.featurevote_set.count }}
                    Votes</h6>
            </div>
            {% if not user_has_votes %}
                <div class="col-sm-12 my-3" align="center">
                    <div class="alert alert-dismissible alert-pink">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oh no!</strong> <a href="{% url 'buyvotes' %}" class="alert-pink-link">buy feature
                        votes</a> to vote on a feature
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-sm-12 my-3" align="right">
                <h5> Comments</h5>
            </div>
            {% for comment in feature.featurecomment_set.all %}
                {% if comment.feature_id == feature.id %}
                    <div class="col-sm-12 mb-5" align="right">
                        <div class="card">
                            <div class="card-body">
                                <p class="lead"><strong>{{ comment.commenter }}</strong></p>
                                <p>{{ comment.content }}</p>
                                <p class="small">{{ comment.created_date }}</p>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-sm-12 mt-3" align="center">
                <form name="comment_feature" action="{% url 'comment_feature' feature.id %}" method="POST">
                    {{ comment_form.non_field_errors }}
                    {{ comment_form | as_bootstrap }}
                    {% csrf_token %}
                    <button class="btn btn-create-ticket btn-sm" type="submit">Add Comment
                    </button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
