{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block page_title %} Home Page {% endblock %}

{% block head_js %}
    <script>
        var chart_data = {{  chart_data|safe }};
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script type="text/javascript" src="{% static 'js/charts.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="jumbotron">
                <canvas id="breakdown-chart"></canvas>
                <p class="lead" align="right">
                    <a class="btn btn-primary btn-lg" href="{% url 'buyvotes' %}" role="button">Buy votes</a>
                </p>
            </div>
            <div class="col-8 offset-2">

            </div>
            <div class="col">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Maybe</th>
                        <th scope="col">Like</th>
                        <th scope="col">This</th>
                        <th scope="col">MOST VOTES</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-active">
                        <th scope="row">Most voted feature</th>
                        <td>4 hours this week</td>
                        <td>Column content</td>
                        <td>INVEST!</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}