{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block page_title %} Home Page {% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="jumbotron">
                <h1 class="display-3">There will be <span class="text-info">graphs</span> here</h1>
                <p class="lead">showing breakdown of features and bugs tended to</p>
                <hr class="my-4">
                <p>                <h4> and maybe a list of features and bugs</h4>
                </p>
                <p class="lead" align="right">
                    <a class="btn btn-primary btn-lg" href="{% url 'buyvotes' %}" role="button">Buy votes</a>
                </p>
            </div>
            <div class="col-8 offset-2">

            </div>
            <div class="col">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Maybe</th>
                        <th scope="col">Like</th>
                        <th scope="col">This</th>
                        <th scope="col">MOST VOTES</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-active">
                        <th scope="row">Most voted feature</th>
                        <td>4 hours this week</td>
                        <td>Column content</td>
                        <td>INVEST!</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}