{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}{{ user }}'s Profile{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            {% block page_heading %}<h3 class="main-title">{{ user }}'s Profile</h3>{% endblock %}
        </div>
    </div>
</div>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mt-5" align="center">
                <p>{{ profile.email }}</p>

            </div>
        </div>
    </div>
{% endblock %}